<section class="welcome-container-main">
  <section class="welcome-about">
    <%= render partial: "form" %>
    Suddenly remembered you had an account? <%= link_to "Back to Login", login_path %>
  </section>
</section>
