<section class="welcome-container-main">
  <section class="welcome-about">
    <center>
      <p>
        A bicycle-sharing system, public bicycle system, or bike-share scheme, is a service in which bicycles are made available for shared use to individuals on a very short term basis for a price.
      </p>
      <p>
        It’s simple. You ride the bike when you need it, you check back into a station when you don’t.It’s fun.  We have stations and bikes at all the places you want to go – museums, cool neighborhoods, bars, restaurants, music and sport venues, bike trails and parks.
      ​</p>
    </center>
  </section>
</section>
