<p>Accessory Retired. <%= link_to "Find a similar item", "https://www.amazon.com/s/ref=nb_sb_ss_c_1_9?url=search-alias%3Daps&field-keywords=bike+accessories+#{@accessory.name}&sprefix=Bike+acce%2Caps%2C163&crid=3D4EI6G7KRBPB" %></p>
