<div class="admin-links"><%= link_to "Dashboard", admin_dashboard_path %></div>
<div class="admin-links"><%= link_to "Bike Shop", admin_bike_shop_path %></div>
<div class="admin-links"><%= link_to "Orders", admin_orders_path %></div>
